:root{
    --white: #FFFFFF;
    --black: #000000;
    --grey: #434750;
    --lightGrey: #6C717C;
}


/*themes */
.light-theme{
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--white);
    --btnFontColor: var(--grey);
}
.dark-theme{
    --bg: var(--grey);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--grey);
}


/*body, header, footer*/
body{
    background-color: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

header{
    height: 120px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: var(--lightGrey);
    box-shadow: 0 -50vh 0 50vh var(--lightGrey);
}

footer{
    position: relative;
    display: flex;
    height: 150px;
    width: 100vw;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: var(--lightGrey);
    box-shadow: 0 50vh 0 50vh var(--lightGrey);
}


/*button*/
.btn{
    height: 25px;
    width: 50px;
    border-radius: 10% ;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}


/* allignment, spacing*/
.spacer{
    flex: 1;
}

.name{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fixed{
    width: 50px;
    vertical-align: center;
    margin-left: 8px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}

.label{
    width: 100px;
    min-height: 25px;
    margin: 8px;
    vertical-align: middle;
    justify-content: right;
    align-items: stretch;
}

.flex-item{
    flex: 1;
}

.flex{
    flex: 1;
    display: flex;
}

.left, .right{
    flex: 1;
    display: flex;
}
.scrollspace{
    width: 12px;
}

.full{
    margin: 8px;
    width: 100%;
}

.footerCent{
    width: 100vw;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.mobile-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.mobile{
    font-size: 30px;
}

/* links*/
a:visited{
    color: var(--black);
}

a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}


/* Dropdown stuff*/
.dropbtn{
    width: 50px;
    height: 50px;
    background-image: url("Photos/DropDown.png");
    background-size: 50px, 50px;
    background-color: var(--lightGrey);
    border: none;
}

.dropdown{

    position: relative;
    display: inline-block;
    margin-right: auto;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: auto;
    right: 0px;
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #ddd;}

.drop{
    width: 50px;
    height: 50px;
}



/* headers */
h1{
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2{
    margin: 8px;
    text-align: center;
    align-self: center;
}

h3{
    text-align: center;
    align-self: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}


/* photos */
.logo{
    width: 50px;
    height: 50px;
}

.main-logo{
    width: 50%;
    height: 50%;
    align-self: center;
}

.logos{
    width: auto;
    height: 100px;
    margin: 16px;
}


/* lists */
li{
    list-style: square;
    margin-bottom: 5px;
}

.list{
    list-style: square;
}