
.ft-left, .ft-right{
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: end;
}
.ft-left {
    margin-left: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
