@media screen and (max-width: 750px) {
    /* small screen */
    footer {
        height: 20vh;
    }
    .container {
        flex-direction: column;
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 750px) {
    /* large screen */
    .container {
        flex-direction: row;
    }
}

.ft-left, .ft-right{
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: end;
}
.ft-left {
    margin-left: 20px;
}
.container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
