/* allignment, spacing*/
@media screen and (max-width: 750px) {
    /* do small screen stuff*/
    .mobile{
        display: flex;
    }
    .computer{
        display: none;
    }
    .container{
        display: block;
        margin: auto;
    }
    .top-right{
        display: flex;
        flex: 1;
        justify-content: right;
        align-content:right
    }
    .right{
        justify-content: center;
    }
    h1{
        font-size: 35px;
    }
    .mission-text {
        font-size: 30px;
    }
    .header-home {
        background-position-x: center;
    }
    header {
        min-height: 25vh;
    }
    .phone-number{
        width: 100%;
        justify-content: center;
    }
}
@media screen and (min-width: 750px){
    .mobile{
        display: none;
    }
    .computer{
        display: flex;
    }
    .container{
        display: flex;
        width: 100vw;
    }
    .top-right{
        justify-content: center;
    }
    .right{
        justify-content: right;
    }
    h1{
        font-size: 50px;
    }
    .mission-text {
        font-size: 40px;
    }
    .phone-number{
        width: 90%;
        padding-right: 10%;
        justify-content: right;
    }
}
.header-home {
    background-image:
        linear-gradient(180deg, 
        rgba(var(--homeFade), 0) 0%, 
        rgba(var(--homeFade), 0) 75%, 
        rgba(var(--homeFade), 1) 100%),
        url("../assets/Photos/main_img.png");
    background-size: cover;
    height: 140vh;
}
.phone-number{
    display: flex;
    flex: 1;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}
.phone-number-text {
    font-size: 18px;
    height: 18px;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 0;
    padding: 10px;
}
.brand-text {
    font-size: 20px;
}
.top-right{
    flex: 1;
    display: flex;
}
.mobile{
    font-size: 30px;
}
.main-header{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 90%;
}
.header-spacer {
    height: 100vh;
}

.mission-statement {
    padding-top: 15px;
    color: white;
    width: 75vw;
    border-radius: 10px;
}

/* Dropdown stuff*/
.dropbtn{
    width: 50px;
    height: 50px;
    background-image: url("../assets/Photos/DropDown.png");
    background-size: 50px, 50px;
    background-color: #00000000;
    border: none;
}

.dropdown{
    display: flex;
    float: right;
    justify-content: right;
    margin: 16px;
}

.dropdown-content{
    position: absolute;
    background-color: #f1f1f1;
    left: auto;
    right: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateY(64px);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease;
}
.dc-active{
    max-height: 1000px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.drop-label{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 30px;
    margin: 16px;
    font-size: 20px;
    font-weight: normal;
}
.label{
    min-height: 30px;
    margin: 16px;
    font-size: 25px;
    font-weight: normal;
}

.dropdown-content a:hover {background-color: #ddd;}
