@media screen and (max-width: 750px) {
    /* small screen */
    .service-cards {
        flex-direction: column;
    }
    .service-card {
        width: 100vw;
        height: 100vw;
    }
}
@media screen and (min-width: 750px) {
    /* large screen */
    .service-cards {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .service-card {
        width: 500px;
        height: 500px;
    }
}
.photos{
    align-self: center;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}
div.p-mobile img.photos{
    width: 100vw;
    max-height: 250px;
}
div.p-computer img.photos{
    max-width: 50vw;
    min-height: 300px;
    max-height: 500px;
}
.active{
    opacity: 1;
}
.inactive{
    opacity: 0;
}
.img-current, .img-next{
    position: absolute;
    display: flex;
    justify-content: center;
}
.fade-in{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.fade-out{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.photo-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    background-color: rgb(var(--homeFade));
    padding-top: 50px;
    padding-bottom: 50px;
}
.p-mobile{
    flex-direction: column;
}
.p-computer{
    flex-direction: row;
}

.slogan{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.slogan-banner{
    min-height: 50px;
    background-color: var(--lightGrey);
    color: black;
}

.companies-c, .companies-m{
    display: flex;
    width: max-content;
    
    /*
    justify-content: space-evenly;
    align-content: center;
    margin-top: 20px;
    */
}
.companies-m{
    /*
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}
.card-holder {
    overflow: hidden;
    width: 100%;
    display: flex;
}
.brand-card {
    padding-left: 15px;
}
.home-logos{
    height: 20vh;
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.container{
    align-items: center;
    justify-content: space-evenly;
}
.photo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.before, .after{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 40%;
    min-width: 375px;
    border: 1px solid var(--lightGrey);
    border-radius: 10px;
    box-shadow: 5px 5px var(--lightGrey);
}
.after{
    margin-top: 20px;
}
.pics{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.spacer{
    height: 100px;
}

.service-cards {
    background-color: white;
    background-image:
        linear-gradient(180deg, 
        rgba(var(--homeFade), 1) 0%, 
        rgba(0, 0, 0, 0) 20%, 
        rgba(0, 0, 0, 0) 100%);
    width: 100vw;
    display: flex;
}
.service-card {
    background-image: url("../assets/Photos/ships_wheel.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.service-animated {
    animation: spin-background 500ms linear;
}
.text-animated {
    animation: spin-text 500ms linear;
}
@keyframes spin-background {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(180deg); }
}
@keyframes spin-text {
    0%{ transform: rotate(360deg); }
    100%{ transform: rotate(180deg); }
}
.more-info {
    background-color: #2a4675;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    width: 45%;
    padding: 5px;
}
.service-text {
    width: 50%;
    font-size: 12px;
}
