.react-multi-carousel-item {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px;
}
.react-multi-carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-holder{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.carousel-holder {
    width: 90%;
}
.service-p{
    background-color: white;
    width: 90vw;
}
.service {
    display: block;
}
h3.service{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90vw;
}
h3.w-content{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 0;
}
h3.wo-content{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 0;

    transition: all 0.05s 0.5s steps(1, end);
}
.service-drop{
    background-color: lightgrey;
    margin: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active-drop{
    height: auto;
    max-height: 1000px;
    overflow: auto;
}
.service-img{
    height: 45vh;
    max-width: 500px;
    margin: 10px;
}
.service-text{
    width: 70%;
    margin: 10px;
    font-size: calc(15px + 1vw);
}
@media screen and (width < 900px){
    .service-drop{
        flex-direction: column;
    }
    .service-img{
        width: 60vw;
        height: auto;
    }
    .service-text {
        width: 90%;
    }
    .react-multi-carousel-track {
        height: 40vh;
        justify-content: center;
        align-items: center;
    }
    .react-multi-carousel-item {
        height: 100%;
        width: 100%;
    }
}
